
.head{
   border-style: groove;
    font-style: normal;
    font-size: larger;
}

.about{
    display:flex;
   
}
.home{
    display:flex;
    border-image: fill;

}
body{
  background-color:gray
}

.grid{
display:flex;
flex-wrap:wrap;
justify-content: space-evenly;
}
.item{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-evenly;
    text-align: right; 
}